#wrapper {
    max-width: 35rem;
    margin: 0 auto;
}


/* .px {
    font-size: 18px;
}

.em {
    font-size: 1.125em;
}

.rem {
    font-size: 1.125rem;
} */


/* .vw {
    font-size: 30vw;
} */


/* .with-unit {
    line-height: 1.3em;
}

.without-unit {
    line-height: 1.3;
} */


/* p {
    font-size: 3vw;
} */

body {
    font-size: 1.125rem;
    line-height: 1.168;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 2.3rem;
    margin: 0.8em 0;
}

h2 {
    font-weight: 800;
    font-size: 2.3rem;
    line-height: 1.45rem;
    margin: 1em 0;
}

h3 {
    font-weight: 700;
    font-size: 1.85rem;
    line-height: 1.6rem;
    margin: 1.3em 0;
}

h4 {
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 1.7rem;
    margin: 1.5em 0;
}

h5 {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 1.6em 0;
}

h6 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin: 1.6em 0;
}